

.container-full{
  background-image: url("static/background/images/h_img.jpg");
  background-position: center;
  text-align:center;
  height: auto;
  background-size: cover;
  text-decoration-color: #fff;
}

.landing{
padding-top: 20%;
}

#mouse{
  padding-top: 15%;
  padding-bottom: 1%;
}
.aboutUs{
padding-top:5%;
padding-bottom: 3%;
text-align: center;
font-family: 'Yantramanav' ,sans-serif;
font-size: 16px;
}
.landing h1{
  font-weight: 600;
  font-size: 45px;
}
.services{
  background-image: url("static/images/background/s_image.jpg");
  color: #fff;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 7%;
}

#whatWeDo h2{
  padding-top: 3%;
}
.overlay{
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 90%;
}
.work-image{
  position: relative;

}
.wonger{
  width: 80%;
  height: 80%;
  border: 2px solid #fff;
  margin-left: 10%;
  margin-top: 10%;
}
.wonger h1{
  text-align: center;
  font-size: 25px;
  padding-top: 30%;
  font-style:oblique;
}

#form{
  background-image: url("static/images/background/c_image.jpg");
}
.input{
  display: inline;

}
#form input{
  width:35%;
  background-color: transparent;

}
#name{
  margin-left: 12%;
  color: #fff;
}
#email{
  margin-left:5%;
  color: #fff;
}
#form textarea{
  background-color: transparent;
  color: #fff;
}
#email::placeholder{
  color: #fff;
}

#name::placeholder{
  color: #fff;
}
textarea::placeholder{
  color: #fff;
}
.icon{
  padding-left: 20px;
}
#design{
  display: none;
}
#development{
  display: none;
}
#product-mgt{
  display: none;
}

.work1-overlay,.work2-overlay,.work3-overlay,.work4-overlay,.work5-overlay,.work6-overlay,.work7-overlay,.work8-overlay {
    display: none;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;

}
