body{
  overflow-x: hidden;
}

.container-full{
  background-image: url("static/images/background/h_img.jpg");
  background-position: center;
  text-align:center;
  height: auto;
  background-size: cover;
  /* padding-top:25%; */
  text-decoration-color: white;
}

.landing{
padding-top: 20%;
}

#mouse{
  padding-top: 15%;
  padding-bottom: 1%;
}
.aboutUs{
padding-top:5%;
padding-bottom: 3%;
text-align: center;
font-family: 'Yantramanav' ,sans-serif;
font-size: 16px;
}
.landing h1{
  font-weight: 600;
  font-size: 45px;
}
.services{
  background-image: url("../static/images/services/s_image.jpg");
  color: white;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 7%;
